### 문자열은 어떻게 사용할까?
* "문자열"

In [2]:
#  큰따옴표
a = "Hello world"
print(a)
print(type(a))

Hello world
<class 'str'>

In [3]:
#  작은따옴표
b = 'Python is fun'
print(b)
print(type(b))

Python is fun
<class 'str'>

In [5]:
#  큰따옴표 3개
c = """Life is too short, You need python"""
print(c)
print(type(c))

Life is too short, You need python
<class 'str'>

In [7]:
#  작은따옴표 3개
d = '''Life is too short, You need python'''
print(d)
print(type(d))

Life is too short, You need python
<class 'str'>

In [8]:
food = "Python's favorite food is perl"
print(food)

Python's favorite food is perl

In [10]:
say = '"Python is very easy." he says.'
print(say)

"Python is very easy." he says.

In [12]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says."

print(food)
print(say)

Python's favorite food is perl
"Python is very easy." he says.

# 여러 줄 문자열 표현

In [14]:
#  이스케이프 코드 \n(줄바꿈 코드)

multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [17]:
#  작은따옴표3개, 큰따옴표3개 활용

multiline = ''' 
    "Life" is 'too' short
    You need python
'''

print(multiline)

    "Life" is 'too' short
    You need python

### 문자열 연산

In [19]:
#  문자열 더하기

head = "Python"
tail = " is fun!"

print(head + tail)

Python is fun!

In [23]:
#  문자열 곱하기

a = "python "
print(a * 5)

python python python python python

In [27]:
print("==================================================================")
print("=" * 80)
print("My Program")
print("=" * 80)

==================================================================
================================================================================
My Program
================================================================================

In [28]:
# 문자열 길이 구하기 len()

a = "Life is too short"
len(a)

17

In [30]:
b = "Python "
len(b)

7

 ### 문자열 인덱싱과 슬라이싱

In [39]:
a = "Life is too short, You need python"

print(len(a))
print(a[0])
print(a[1])
print(a[-1])
print(a[0] + a[1] + a[2] +a[3])

34
L
i
n
Life

In [43]:
a = "Life is too short, You need python"

print(a[0:4])
print(a[0:7])
print(a[12:17])

Life
Life is
short

In [48]:
a = "Life is too short, You need python"

print(a[19:34])
print(a[19:])
print("=" * 50)

print(a[0:17])
print(a[:17])
print("=" * 50)

print(a)
print(a[:])

You need python
You need python
==================================================
Life is too short
Life is too short
==================================================
Life is too short, You need python
Life is too short, You need python

In [50]:
a = "20240805Sunny"

year = a[:4]
day = a[4:8]
weather = a[8:]

print(year)
print(day)
print(weather)

2024
0805
Sunny

### 퀴즈1

* a = "20240806Sunny"

* 출력값을 2024년 08월 06일, 오늘의 날씨는 Sunny 입니다.

In [54]:
a = "20240806Sunny"

year = a[:4]
month = a[4:6]
day = a[6:8]
weather = a[8:]

print(f"{year}년 {month}월 {day}일, 오늘의 날씨는 {weather} 입니다.")

2024년 08월 06일, 오늘의 날씨는 Sunny 입니다.

In [ ]:
a = "Pithon"

a[1] = "y"
print(a)

In [59]:
a = "Pithon"
a = a[0] + "y" + a[2:]

print(a)

Python

### 문자열 포매팅

In [7]:
# 숫자 바로 대입
a = 100

print("I eat %d apples")
print("I eat %d apples" % 3)
print("I eat %d apples" % a)
print("=" * 100)

# 문자열 바로 대입
print("I eat %s apples")
print("I eat %s apples" % "five")

I eat %d apples
I eat 3 apples
I eat 100 apples
====================================================================================================
I eat %s apples
I eat five apples

In [17]:
# 숫자 값을 나타내는 변수

number = 3
print("I eat %d apples.")
print("I eat %d apples." % number)

print("I eat " + str(number) + " apples.")

# 2개 이상의 값 넣기
number = 10
day = "three" 

print("I ate %d apples. so I was sick for %s days." % (number, day))

I eat %d apples.
I eat 3 apples.
I eat 3 apples.
I ate 10 apples. so I was sick for three days.

In [21]:
# 정렬과 공백
print("정렬과 공백: %s" % "hi")
print("정렬과 공백: %10s" % "hi")
print("정렬과 공백: %-10s|" % "hi")

정렬과 공백: hi
정렬과 공백:         hi
정렬과 공백: hi        |

In [24]:
# 소수점 표현하기
a = 3.141259
print("소수점 표현: %f" % a)
print("소수점 표현: %.4f" % a)
print("소수점 표현: %20.2f" % a)

소수점 표현: 3.141259
소수점 표현: 3.1413
소수점 표현:                 3.14

### Format 함수를 사용한 포매팅

In [32]:
# 숫자 바로 대입하기
print("I eat %d apples" % 3)
print("I eat {0} apples". format(3))

# 문자열 바로 대입하기
print("I eat %s apples" % "five")
print("I eat {0} apples" .format(five))

I eat 3 apples
I eat 3 apples
I eat five apples

NameError: name 'five' is not defined

In [38]:
number = 10
day = "three"

print("I ate {0} apples, so I was sick for {1} days.")
print("I ate {0} apples, so I was sick for {1} days.".format (number, day))

# 이름으로 넣기
print("I ate {number} apples, so I was sick for {day} days.")
print("I ate {number} apples, so I was sick for {day} days.".format(number=10, day=3))

# 인덱스와 혼용으로 사용
print("I ate {0} apples, so I was sick for {day} days.".format(number, day=3))

I ate {0} apples, so I was sick for {1} days.
I ate 10 apples, so I was sick for three days.
I ate {number} apples, so I was sick for {day} days.
I ate 10 apples, so I was sick for 3 days.
I ate 10 apples, so I was sick for 3 days.

In [43]:
# 왼쪽 정렬
a = "hi"
print("정렬: {0}|".format(a))
print("정렬: {0:<10}|".format(a))

# 오른쪽 정렬
print("정렬: {0:>10}|".format(a))

# 가운데 정렬
print("정렬: {0:^10}|".format(a))

정렬: hi|
정렬: hi        |
정렬:         hi|
정렬:     hi    |

In [48]:
# 공백 채우기
a = "hi"
print("공백 {0}|".format(a))
print("공백 {0:^10}|".format(a))
print("공백 {0:*^10}|".format(a))

공백 hi|
공백     hi    |
공백 ****hi****|

In [52]:
# 소수점 표현
y = 3.141596

print("소수점표현: ")
print("소수점표현: {0}".format(y))
print("소수점표현: {0:.2f}".format(y))

소수점표현:
소수점표현: 3.141596
소수점표현: 3.14

### f문자열 포매팅

In [56]:
name = "홍길동"
age = 30

# 1
print("나의 이름은 %s 입니다. 나이는 %d 입니다." % (name, age))

# 2
print("나의 이름은 {0} 입니다. 나이는 {1} 입니다.".format (name, age))

# 3*
print(f"나의 이름은 {name} 입니다. 나이는 {age} 입니다.")

나의 이름은 홍길동 입니다. 나이는 30 입니다.
나의 이름은 홍길동 입니다. 나이는 30 입니다.
나의 이름은 홍길동 입니다. 나이는 30 입니다.

In [57]:
print(f"나는 내년이면 {age+1}살이 된다.")

나는 내년이면 31살이 된다.

In [59]:
d = {"name" : "홍길동", "age" : 30}

print(f"나의 이름은 {d['name']} 입니다. 나이는 {d['age']} 입니다.")

나의 이름은 홍길동 입니다. 나이는 30 입니다.

In [67]:
a = "hi"
print(f"정렬: {a}|")
# 왼쪽 정렬
print(f"정렬: {a:<10}|")
# 오른쪽 정렬
print(f"정렬: {a:>10}|")
# 가운데 정렬
print(f"정렬: {a:^10}|")
# 공백 채우기
print(f"공백채우기: {a:=^10}|")
print(f"공백채우기: {a:*^10}|")

# 소숫점 표현
y = 3.41136234
print(f"소숫점 표현: {y}")
print(f"소숫점 표현: {y:.4f}")

정렬: hi|
정렬: hi        |
정렬:         hi|
정렬:     hi    |
공백채우기: ====hi====|
공백채우기: ****hi****|
소숫점 표현: 3.41136234
소숫점 표현: 3.4114

### 문자열 관련 함수들
*count, find, index

In [72]:
# count()

a = "hobby"

print(len(a))
print(a.count("b"))
print("hobby".count("b"))

5
2
2

In [74]:
# 위치 알려주기 find()
a = "Python is the best choice"
print(a.find("b"))
print(a.find("k"))

14
-1

In [78]:
# 위치 알려주기 index

a = "Life is too short"

print(a.index("t"))
print(a.index("k"))

8

ValueError: substring not found

In [ ]:
#