In [1]:
data = {
    "메뉴" : ["아메리카노", "카페라떼", "카페모카", "바닐라라떼", "녹차", "초코라떼", "바닐라콜드브루"],
    "가격" : [4100, 4600, 4600, 5100, 4100, 5000, 5100],
    "할인율" : [0.5, 0.1, 0.2, 0.3, 0, 0, 0],
    "칼로리" : [10, 180, 420, 320, 20, 500, 400],
}

In [2]:
#1. 데이터프레임 객체 df로 만들기
import pandas as pd

df = pd.DataFrame(data)
df

        메뉴    가격  할인율  칼로리
0    아메리카노  4100  0.5   10
1     카페라떼  4600  0.1  180
2     카페모카  4600  0.2  420
3    바닐라라떼  5100  0.3  320
4       녹차  4100  0.0   20
5     초코라떼  5000  0.0  500
6  바닐라콜드브루  5100  0.0  400

In [3]:
#2. df 데이터 3개만 불러오기
df.head(0)

Empty DataFrame
Columns: [메뉴, 가격, 할인율, 칼로리]
Index: []

In [4]:
df.loc[0:2]

      메뉴    가격  할인율  칼로리
0  아메리카노  4100  0.5   10
1   카페라떼  4600  0.1  180
2   카페모카  4600  0.2  420

In [6]:
df.iloc[0:3]

      메뉴    가격  할인율  칼로리
0  아메리카노  4100  0.5   10
1   카페라떼  4600  0.1  180
2   카페모카  4600  0.2  420

In [9]:
#3. 슬라이싱으로 가격 전체 컬럼 불러오기 (loc/ iloc)
df["가격"]

0    4100
1    4600
2    4600
3    5100
4    4100
5    5000
6    5100
Name: 가격, dtype: int64

In [10]:
df.loc[ : ,"가격"]

0    4100
1    4600
2    4600
3    5100
4    4100
5    5000
6    5100
Name: 가격, dtype: int64

In [11]:
df.iloc[ :, 1]

0    4100
1    4600
2    4600
3    5100
4    4100
5    5000
6    5100
Name: 가격, dtype: int64

In [7]:
#4. 카페모카 메뉴와 칼로리 불러오기 (loc / iloc)

In [14]:
df.loc[2, "칼로리"]

np.int64(420)

In [16]:
df.iloc[2, 3]

np.int64(420)

In [18]:
#5. 가격 기준으로 오름차순 정렬하기
df.sort_values("가격", ascending=False)

        메뉴    가격  할인율  칼로리
3    바닐라라떼  5100  0.3  320
6  바닐라콜드브루  5100  0.0  400
5     초코라떼  5000  0.0  500
1     카페라떼  4600  0.1  180
2     카페모카  4600  0.2  420
0    아메리카노  4100  0.5   10
4       녹차  4100  0.0   20

In [19]:
#6. 가격은 오름차순, 같은 가격일때 메뉴는 내림차순
df.sort_values("가격", ascending=)

In [24]:
#7. 가격 컬럼 기준 상위 25% 값 확인하기
#print(df["가격"].quantile(0.25))
print(df["가격"].quantile(q=0.75))

5050.0

In [28]:
#8. 가격의 평균, 최대값, 최소값 구하시오
print(df['가격'].mean())
print(df['가격'].max())
print(df['가격'].min())

4657.142857142857
5100
4100

In [35]:
#9. 칼로리가 가장 높은 메뉴 순으로 순위를 구하시오

df.sort_values("칼로리", ascending=False, inplace=True)

df["순위"] = df["칼로리"].rank(ascending=False)
df

# df["칼로리"].rank(ascending=False)

        메뉴    가격  할인율  칼로리   순위
5     초코라떼  5000  0.0  500  1.0
2     카페모카  4600  0.2  420  2.0
6  바닐라콜드브루  5100  0.0  400  3.0
3    바닐라라떼  5100  0.3  320  4.0
1     카페라떼  4600  0.1  180  5.0
4       녹차  4100  0.0   20  6.0
0    아메리카노  4100  0.5   10  7.0