In [ ]:
# pandas 설치
!pip install pandas

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
obj = ["이유리", "최민준", "김민지"]
print(type(obj))

series_1 = pd.Series(obj)
print(type(series_1))
print((series_1))

In [ ]:
obj = ["이유리", "최민준", "김민지"]
idx = ["A", "B", "C"]

Series_2 = pd.Series(["이유리", "최민준", "김민지"], index=idx)
print(Series_2)

In [ ]:
obj = {
    "A": "이유리",
    "B": "최민준",
    "C": "김민지",
}

series_3 = pd.Series(obj)
print(series_3)

In [ ]:
# values 속성
print(series_1.values)

In [ ]:
# index 속성
print(series_1.index)

In [ ]:
# size 속성 -> 총 객체의 수
print(series_1.size)

In [ ]:
obj = [22, 32, 27, 18, 38, 19]
idx = list("abcdef") # => ["a", "b", "c", "d", "e", "f"]

sr = pd.Series(obj, index=idx)
print(sr)

In [ ]:
# Series 객체의 인덱싱
print(sr[4])
print(sr[-1])
print(sr["c"])

In [ ]:
# Series 객체의 슬라이싱
print(sr[1:5])
print(sr[:5])

In [ ]:
print(sr["b":"d"])

In [ ]:
idx = [0, 3, 4]
print(sr[idx])
print(sr[[1, 5]])

In [ ]:
print(sr)

In [ ]:
print(sr[["b", "d", "f"]])

In [ ]:
# 통계 메소드

sr_1 = pd.Series(range(100)) # range(100) -> [0, 1, 2, ... 99]
print(sr_1)

In [ ]:
# 집계함수 describe()-> 요약 통계량에 대한 정보
sr_1.describe()

In [ ]:
# 집계함수 count() => 총 객체 수
sr_1.count()

In [ ]:
# 집계함수 mean() 평균
sr_1.mean()

In [ ]:
# 집계함수 var() 분산
sr_1.var()

In [ ]:
# 집계함수 std() 표준편차
sr_1.std()

In [ ]:
print(sr_1.min())
print(sr_1.max())
print(sr_1.median())

In [ ]:
# quantile() 백분위수
print(sr_1.quantile())
print(sr_1.quantile(q=0.25))
print(sr_1.quantile(q=0.75))

In [ ]:
sr_2 = pd.Series(["a", "b", "b", "b", "c", "c", "d"])
sr_2.describe()

In [ ]:
# unique() -> 유일한 값 확인
sr_2.unique()

In [ ]:
# mode 최빈값
sr_2.mode()

In [ ]:
# 데이터프레임

import pandas as pd

obj = {
    "이름" : ["이유리", "최민준", "김민지"],
    "전공" : ["경영학과", "컴퓨터공학과", "데이터과학과"],
    "성별" : ["여", "남", "여"],
    "나이" : [20, 22, 21]
}

df_1 = pd.DataFrame(obj)
print(df_1)
print(type(df_1))

In [ ]:
import numpy as np

In [ ]:
obj2 = np.array([
    ["이유리", "경영학과", "여", 20],
    ["최민준", "컴퓨터공학과", "남", "21"],
    ["김민지", "데이터과학과", "여", "21"]
])
df_2 = pd.DataFrame(obj2)
print(df_2)

In [ ]:
df_3 = pd.DataFrame(
                    obj2,
                    columns=["Name", "Major", "Sex", "Age"],
                    index = ["A", "B", "C"])
print(df_3)

In [ ]:
obj = {
    "Name" : ["Olivia", "Lucas", "Sophia", "Zoe", "Ava", "Elliot"],
    "Sex" : ["Female", "Male", "Female", "Female", "Female", "Male"],
    "Age" : [22, 32, 27, 18, 38, 19]
}

df = pd.DataFrame(obj)
df

In [ ]:
a = df.values
print(a)
print("-"*24)
print(type(a))

In [ ]:
df.index

In [ ]:
df.columns

In [ ]:
df.dtypes

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.head(1)

In [ ]:
df.head(-3)

In [ ]:
obj = {
    "Name" : ["Olivia", "Lucas", "Sophia", "Zoe", "Ava", "Elliot"],
    "Sex" : ["Female", "Male", "Female", "Female", "Female", "Male"],
    "Age" : [22, 32, 27, 18, 38, 19]
}

idx = list("abcdef")
df = pd.DataFrame(obj, index = idx)

In [ ]:
print(df["Name"])

In [ ]:
df.Name

In [ ]:
colnm = ["Name", "Age"]
df[colnm]

In [ ]:
df.iloc[1]

In [ ]:
df.iloc[1:5]

In [ ]:
idx = [1, 3]
df.iloc[idx]

In [ ]:
df.loc["b"]

In [ ]:
df.loc["b":"e"]

In [ ]:
rownm = ["b","d"]
df.loc[rownm]

In [ ]:
df["Age"]

In [ ]:
df["Age"]["a"]

In [ ]:
df["Age"][0]

In [ ]:
df.iloc[:, 1:]

In [ ]:
df.loc["b", "Name"]

In [ ]:
rownm = ['b', 'd', 'e']
colnm = ['Name', 'Sex']
df.loc[rownm, colnm]

In [64]:
obj = {
    "Name" : ["Olivia", "Lucas", "Sophia", "Zoe", "Ava", "Elliot"],
    "Sex" : ["Female", "Male", "Female", "Female", "Female", "Male"],
    "Age" : [22, 32, 27, 18, 38, 19],
    "Score": [100, 95, 60, 77, 83, 84]
}

df = pd.DataFrame(obj)
df

     Name     Sex  Age  Score
0  Olivia  Female   22    100
1   Lucas    Male   32     95
2  Sophia  Female   27     60
3     Zoe  Female   18     77
4     Ava  Female   38     83
5  Elliot    Male   19     84

In [65]:
df.describe()

             Age       Score
count   6.000000    6.000000
mean   26.000000   83.166667
std     7.874008   14.133884
min    18.000000   60.000000
25%    19.750000   78.500000
50%    24.500000   83.500000
75%    30.750000   92.250000
max    38.000000  100.000000