In [1]:
import pandas as pd

In [2]:
obj = {
    "Name" : ["Olivia", "Lucas", "Sophia", "Zoe", "Ava", "Elliot"],
    "Sex" : ["Female", "Male", "Female", "Female", "Female", "Male"],
    "Age" : [22, 32, 27, 18, 38, 19],
    "Score": [100, 95, 60, 77, 83, 84]
}

df = pd.DataFrame(obj)
df

     Name     Sex  Age  Score
0  Olivia  Female   22    100
1   Lucas    Male   32     95
2  Sophia  Female   27     60
3     Zoe  Female   18     77
4     Ava  Female   38     83
5  Elliot    Male   19     84

In [11]:
df.to_csv("./df.csv", index=False)

In [12]:
result = pd.read_csv("./df.csv")
result

     Name     Sex  Age  Score
0  Olivia  Female   22    100
1   Lucas    Male   32     95
2  Sophia  Female   27     60
3     Zoe  Female   18     77
4     Ava  Female   38     83
5  Elliot    Male   19     84