In [ ]:
pip install scikit-learn

In [11]:
import pandas as pd

In [ ]:
# 원-핫 인코딩

from sklearn.preprocessing import LabelEncoder, OneHotEncoder

obj = {
    'Class' : ['A', 'B', 'C', 'D', 'E', 'F']
}

df = pd.DataFrame(obj)

encoder = LabelEncoder()
encoder.fit(df['Class'])
labels = encoder.transform(df['Class'])
print(labels.shape)

# 2차원 배열로 변환
labels = labels.reshape(-1, 1)
labels.shape

oh_encoder = OneHotEncoder(sparse_output=False)
oh_encoder.fit(labels)
oh_lables = oh_encoder.transform(labels)

oh_lables

In [ ]:
# pandas.get_dummies()

obj = {
    'Class' : ['A', 'B', 'A', 'C', 'E', 'D', 'D', 'A', 'F']
}
df = pd.DataFrame(obj)

pd.get_dummies(df)

In [ ]:
pd.get_dummies(df, drop_first=True).astype(int)

In [ ]:
# numpy를 이용한 원핫인코딩

import numpy as np

obj = {
    'Class' : ['A', 'B', 'A', 'C', 'E', 'D', 'D', 'A', 'F']
}

df =  pd.DataFrame(obj)

df["Class_B"] = np.where(df['Class' == "B", 1, 0])
df["Class_C"] = np.where(df['Class' == "C", 1, 0])
df["Class_D"] = np.where(df['Class' == "D", 1, 0])
df["Class_E"] = np.where(df['Class' == "E", 1, 0])
df["Class_F"] = np.where(df['Class' == "F", 1, 0])

In [31]:
obj = {
    'Class' : ['A', 'B', 'A', 'C', 'E', 'D', 'D', 'A', 'F']
}

df = pd.DataFrame(obj)

df.loc[df["Class"] == "B", "Class_B"] = 1
df.loc[df["Class"] != "B", "Class_B"] = 0
df.loc[df["Class"] == "C", "Class_C"] = 1
df.loc[df["Class"] != "C", "Class_C"] = 0
df.loc[df["Class"] == "D", "Class_D"] = 1
df.loc[df["Class"] != "D", "Class_D"] = 0
df.loc[df["Class"] == "E", "Class_E"] = 1
df.loc[df["Class"] != "E", "Class_E"] = 0
df.loc[df["Class"] == "F", "Class_F"] = 1
df.loc[df["Class"] != "F", "Class_F"] = 0

df

  Class  Class_B  Class_C  Class_D  Class_E  Class_F
0     A      0.0      0.0      0.0      0.0      0.0
1     B      1.0      0.0      0.0      0.0      0.0
2     A      0.0      0.0      0.0      0.0      0.0
3     C      0.0      1.0      0.0      0.0      0.0
4     E      0.0      0.0      0.0      1.0      0.0
5     D      0.0      0.0      1.0      0.0      0.0
6     D      0.0      0.0      1.0      0.0      0.0
7     A      0.0      0.0      0.0      0.0      0.0
8     F      0.0      0.0      0.0      0.0      1.0

In [35]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

obj = {
    "student_id" : ['S1', 'S2', 'S3', 'S4', 'S5', 'S6'],
    "score" : [55, 90, 85, 71, 63, 99],
}

df = pd.DataFrame(obj)

df['grade'] = pd.cut(
    df['score'], 
    bins=[0, 60, 70, 80, 90, 100],
    labels=["가", "양", "미", "우", "수"]
)

df

  student_id  score grade
0         S1     55     가
1         S2     90     우
2         S3     85     우
3         S4     71     미
4         S5     63     양
5         S6     99     수